In [43]:
from data import loader
import methods
import warnings
warnings.filterwarnings('ignore')

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

In [44]:
datasets = loader.load_all_dataset()

# SVC

In [45]:
params = {
    'gamma': (float, 1e-8, 1e-1),
    'C': (float, 1e-2, 1e5)
}

In [47]:
methods.compare_methods(SVC, params, datasets, max_iter=500)

                OptunaSearch  HyperOptSearch  iOptSearch
Banknote            1.000000        1.000000    1.000000
BreastCancer        0.960399        0.960399    0.967825
CreditApproval      0.790105        0.791615    0.732308
Ecoli               0.867128        0.866895    0.867128
Balance             0.991969        0.991969    0.991969
Parkinsons          0.859591        0.859591    0.859591
Zoo                 0.970952        0.972063    0.972063

# KNN

In [27]:
params = {
    'n_neighbors': (int, 1, 50)
}

In [28]:
methods.compare_methods(KNeighborsClassifier, params, datasets, max_iter=10)

                OptunaSearch  HyperOptSearch  iOptSearch
Banknote            1.000000        1.000000    1.000000
BreastCancer        0.963951        0.961141    0.968017
CreditApproval      0.694899        0.697531    0.697531
Ecoli               0.860601        0.857524    0.868717
Balance             0.871988        0.870296    0.876815
Parkinsons          0.858649        0.845434    0.847234
Zoo                 0.977619        0.953277    0.977619

# MLP

In [48]:
params = {
    'hidden_layer_sizes': (int, 1, 10),
    'learning_rate_init': (float, 1e-3, 1e-1),
    'momentum': (float, 1e-3, 1e-1),
    'max_iter': (int, 10, 100)
}

In [49]:
methods.compare_methods(MLPClassifier, params, datasets, max_iter=500)

                OptunaSearch  HyperOptSearch  iOptSearch
Banknote            1.000000        1.000000    1.000000
BreastCancer        0.976482        0.977994    0.973701
CreditApproval      0.785743        0.787919    0.780375
Ecoli               0.880698        0.873216    0.865944
Balance             0.972742        0.957269    0.944869
Parkinsons          0.886864        0.887174    0.885678
Zoo                 0.984444        0.984706    0.984444